@import "../../scss/global/variables.scss";

.hero {
  display: flex;
  background-color: $fill-tertiary;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
  }

  &__content {
    max-width: calc(50% - 30px);
    width: 100%;

    h1,
    h2 {
      margin: 0 0 25px;
    }

    p {
      margin: 0;
      font-size: 18px;
      line-height: 1.6;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  &__image {
    max-width: 50%;
    width: 100%;

    img {
      max-height: 500px;
    }
  }
}
