@import "../../../scss/global/variables.scss";

.header {
  border-bottom: 1px solid $divider;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
