@import "../../../scss/global/variables.scss";

$text: $fill-primary;
$fill: $fill-primary;
$border: $fill-primary;

.field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  display: block;
  margin-bottom: 2px;

  color: $text;
  font-size: 14px;
}

.input {
  display: block;
  width: 100%;
  padding: 15px 15px;

  color: $text;
  font-size: 16px;
  color: $text-primary;

  border: 1px solid $border;
  border-radius: 8px;
}
